#tt-header .tt-logo
{display:flex;
align-items:center;
}


@media (min-width: 1220px) {
    .col-lg-8 {
        width: 66.66666667%;
        display: flex;
        flex-direction: row-reverse;
    }
}

.menu-item-has-children .current-menu-item a{ color:black;}



 #tt-header .tt-menu > ul > li.is-subMenu .tt-icon-subMenu{padding-right:20px}


